body {
    background-image: url("assets/background.png");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
 }

 .full-height {
    height: 100%;
  }

  div.center {
    width: 80%; 
    margin: 0 auto;
    margin-top: 20px;
  }

  div.loginCard {
    width: 300px; 
    margin: 0 auto;
    margin-top: 300px;
  }

  div.loginCardMedia {
      background-color: white
  }

  .projectsButton {
      position: fixed !important;
      margin-top: 10px;
      margin-left: 10px;
  }

  .centerSpinner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  div.objectPropertiesCard {
    z-index:1;
    position: absolute;
    margin-top : 100px;
    margin-left: 10px;
    height: 800px;
    display: none;
}

.objectPropertiesIFrame {
  height: 750px;
}
